<div class="container-big-card">
  <div class="content-photo">
    <img
    src="https://imgs.search.brave.com/zIThAJdv7IjC7tvM-CZlTgUhBuWx-kGoSRqL5oqKuCw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQy/NzgzNzY1NC92ZWN0/b3Ivbm8taW1hZ2Ut/YXZhaWxhYmxlLXNp/Z24taWxsdXN0cmF0/aW9uLWlzb2xhdGVk/LXBsYWNlaG9sZGVy/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz1UYm41VXBxYmJv/OU4zMWJmRlpOQ3R3/Y09QWjM5Y0pEaDFO/el96UWxEN05FPQ"
    alt="imagem-big-card placeholder"
    />
  </div>
  <div class="content-title">
    <a href="#">Saiu! Nova versão do Angular!</a>
  </div>
  <div class="content-description">
    <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum aperiam quaerat illo autem veniam necessitatibus sit cupiditate distinctio quasi aspernatur repudiandae ab nulla dolore nihil eligendi, deserunt beatae, voluptate voluptatibus?</a>
  </div>
</div>
