.container-big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 28rem;
  margin: auto .625rem;
  padding: .625rem auto;
  border-radius: .313rem;
  border: solid white 2px; /*delete this*/
}

.content-photo {
  align-self: center;
  width: 100%;
  height: 12.5rem;
}

.content-photo > img{
  width: 25rem;
  
  border-radius: 0.313rem 0 0 0.313rem;
}

.content-title {
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 700;
}

.content-title > h1 {
  text-align: justify;
}

.content-description {
  margin: .625rem auto;
}

.content-description > p{
  color: #969696;
  text-align: justify;
}
