<div class="container-content">
  <section class="content-cover">
    <img src="https://images03.brasildefato.com.br/2a7c684471fa9408b5bff4a772a88563.jpeg" alt="">
  </section>
  <section class="content- title">
    <h1>TITULO</h1>
  </section>
  <section class="content-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga deserunt reiciendis quia at architecto iusto perspiciatis eligendi consequatur qui voluptatum officiis ut rerum, ipsa odio non? Sint, soluta perferendis.</p>
  </section>
</div>
