<header>
  <app-menu-bar></app-menu-bar>
  <app-menu-title></app-menu-title>
</header>
<section>
  <article class="main">
    <app-big-card
    [photoCover]="'https://images03.brasildefato.com.br/2a7c684471fa9408b5bff4a772a88563.jpeg'"
    [cardTitle]="'Marco temporal volta ao STF nesta quarta (20); relembre placar da votação e o que está em jogo'"
    [cardDescription]="'Placar está 4 a 2 contra marco temporal e expectativa é positiva, mas possibilidade de indenizar fazendeiros preocupa'"
    ></app-big-card>
  </article>
  <article class="others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </article>
</section>
