<header>
  <app-menu-title></app-menu-title>
</header>
<section>
  <article class="main">
    <app-big-card
    [Id]="'1'"
    [photoCover]="'https://images03.brasildefato.com.br/2a7c684471fa9408b5bff4a772a88563.jpeg'"
    [cardTitle]="'Marco temporal volta ao STF nesta quarta (20); relembre placar da votação e o que está em jogo'"
    [cardDescription]="'Placar está 4 a 2 contra marco temporal e expectativa é positiva, mas possibilidade de indenizar fazendeiros preocupa'"
    ></app-big-card>
  </article>
  <article class="others">
    <app-small-card
    [Id]="'2'"
    [photoCover]="'https://images02.brasildefato.com.br/31b744fc4518ead3cedf886704a8585f.jpeg'"
    [cardTitle]="'Lula chega a Nova York para participar da Assembleia Geral da ONU; confira agenda'"
    ></app-small-card>
    <app-small-card
    [Id]="'3'"
    [photoCover]="'https://images02.brasildefato.com.br/22d40f14bc80f350b969536aae98f98d.jpeg'"
    [cardTitle]="'Ato em frente ao consulado dos EUA no Rio pede retirada de Cuba da lista de países patrocinadores do terrorismo'"
    ></app-small-card>
    <app-small-card
    [Id]="'4'"
    [photoCover]="'https://images03.brasildefato.com.br/1cc56c0a044696a87cb256da7e1e95a0.jpeg'"
    [cardTitle]="'Mulheres Tembé relatam perseguição e racismo em meio à Guerra do Dendê no Pará'"
    ></app-small-card>
  </article>
</section>
