.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.container-menu-bar li {
  margin: auto .625rem;
}

.container-menu-bar li :hover {
  font-size: 1.01rem;
  font-weight: bolder;
  transition-duration: .5s;
}

