.container-menu-bar {
  margin: 1.313rem 0 0 0;
}
.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.container-menu-bar li {
  margin: auto .625rem;
}

.container-menu-bar li :hover {
  font-size: 1.01rem;
  font-weight: bolder;
  transition-duration: .5s;
}

